* {
	color: #ffffff; /*white*/
	color: #f5f5f5; /*offwhite*/
	color: #007dc1; /*blue2*/
	color: #0061a7; /*blue3*/
	color: #124d77; /*blue5 darkest*/
	color: #54a3f7; /*blue1 lightest*/ 
	color: #154682; /*blue4*/
}