dashboard {
	display: none;
}

dashboard div {
	border-radius: 5px;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "logo welcome prof-settings"
						"navigation daily-prog prof-settings"
						". daily-prog ."
						". food-history .";
}

.dashboard-logo {
	grid-area: logo;
}

.dashboard-logo img {
	width: 100%;
	grid-column: 1 / 2;
}

.dashboard-welcome {
	grid-area: welcome;
	text-align: center;
	color: white;
	background: -webkit-linear-gradient(#007dc1, #54a3f7);
    background: -o-linear-gradient(#007dc1, #54a3f7);
    background: -moz-linear-gradient(#007dc1, #54a3f7);
    background: linear-gradient(#007dc1, #54a3f7);
}

.dashboard-gold-star {
	display: inline;
}

.dashboard-navigation {
	grid-area: navigation;
}

.dashboard-profile-settings {
	grid-area: prof-settings;
}

.dashboard-daily-progress {
	grid-area: daily-prog;
	margin-left: 10%;
	margin-right: 10%;
}

.dashboard-set-targets {
	grid-area: targets
}

.dashboard-lifetime-progress {
	grid-area: life-prog;
}

.dashboard-food-history {
	grid-area: food-history;
}

.dashboard-food-history-lifetime {
	grid-area: food-life;
}