/* Phone and General Styling */

userLogin {
	display: none;
}

.login {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: .9em;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	z-index: 5;
	width: 95vw;
	height: 45vh;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	overflow-y: scroll;
	}
	
.login h3 {
	margin-top: 0px;
	text-align: center;
}

.login form input {
	margin: auto;
	width: 100%;
}

.login form span {
	font-size: 9pt;
	color: red;
}

.login div.loginButton {
	padding-top: 3%;
	text-align: center;
}

.login div.loginButton input {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
	border: 0px solid black;
	-moz-box-shadow: 0px 10px 14px -7px #54a3f7;
	-webkit-box-shadow: 0px 10px 14px -7px #54a3f7;
	box-shadow: 0px 10px 14px -7px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.login div.loginButton input:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #0061a7;
}

.login div.loginButton input:active {
	position: relative;
	top: 1px;
}

/* Tablet Styling */

@media only screen and (min-width: 801px) {
	
.login {
	height: auto;
	position: relative;
	font-size: 1em;
	padding: 15px;
	width: 50vw;
	height: 40vh;
	display: grid;
	grid-template-rows: 1fr 6fr;
	z-index: 5;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	grid-column: 2/3;
	grid-row: 2/3;
}

.login h3 {
	margin-bottom: 0px;
	grid-row: 1 / 2;
}

.login form {
	grid-row: 2 / 3;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 1fr 1fr;
}

.login form label {
	grid-column: 1/2;
}

.login form input {
	grid-column: 2/3;
}

.login form span {
	grid-column: 2/3;
}

.login div.loginButton {
	text-align: center;
	grid-column: 1/3;
}

}

@media only screen and (min-width: 1025px) {

.login {
	font-size: 1.1em;
	width: 50vw;
}
	
	
}