/* progressGraph {
	display: none;
} */

progressGraph {
	display: grid;
	grid-template-columns: 67% 33%;
}

.progress-graph-progress {
	grid-column: 1 / 2;
	position: relative;
	width: 100%;
	margin: auto;
}

.add-food {
	grid-column: 2 / 3;
}