/* Phone and General Styling */

userRegistration {
	display:none;
}
	
.window-close {
	position: absolute;
	right: 2%;
	top: 2%;
}

.registration {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: .9em;
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	z-index: 5;
	width: 95vw;
	height: 75vh;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
	overflow-y: scroll;
	
}

.registration h3 {
	font-size: 1.2em;
	margin-top: 0px;
	text-align: center;
}

.registration form {
	resize: none;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 1fr 1fr;

}

.registration form label {
	grid-column: 1/2;
}

.registration form input {
	margin: auto;
	grid-column: 2/3;
	width: 95%;
}

.registration form select {
	margin: auto;
	grid-column: 2/3;
	width: 95%;
}

div.height-input {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

label.height-feet-label {
	grid-column: 1 / 2;
}

div.height-input-field-feet {
	font-size: 0.8em;
	grid-column: 2 / 3;
	margin-left: 1.5px;
}

div.height-input-field-feet input {
	width: 68%;
}

div.height-input-field-inches {
	font-size: 0.8em;
	grid-column: 3 / 4;
	margin-left: 1.5px;
}

div.height-input-field-inches input {
	width: 68%;
}

div.height-input-field-cm {
	font-size: 0.8em;
	grid-column: 2 / 4;
}

div.height-input-field-cm input {
	width: 80%;
	margin-left: 1.5px;
}

div.weight-input {
	font-size: 0.8em;
}

input#weight {
	width: 85%;
}

div.targetWeight-input {
	font-size: 0.8em;
}

input#targetWeight {
	width: 85%;
}

.registration form span {
	grid-column: 2 / 3;
	font-size: 9pt;
	color: red;
}

.registration div.submitButton {
	padding-top: 60%;
	text-align: center;
	grid-column: 1 / 3;
}

.registration div.submitButton input {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
	border: 0px solid black;
	-moz-box-shadow: 0px 10px 14px -7px #54a3f7;
	-webkit-box-shadow: 0px 10px 14px -7px #54a3f7;
	box-shadow: 0px 10px 14px -7px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.registration div.submitButton input:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #0061a7;
}
.registration div.submitButton input:active {
	position: relative;
	top: 1px;
}

/* Tablet Styling */

@media only screen and (min-width: 801px) {
.registration {
	width: 95vw;
	height: 75vh;
}

.registration div.submitButton {
	padding-top: 40%;
}

.registration div.submitButton input {
	font-size: 1.5em;
}

div.height-input-field-feet input {
	width: 83%;
}

div.height-input-field-inches input {
	width: 83%;
}

div.height-input.field-cm input {
	width: 91%;
}

input#weight {
	width: 92.5%;
}

input#targetWeight {
	width: 92.5%;
}
	
}

/* Desktop Styling */

@media only screen and (min-width: 1025px) {
	
.registration {
	position: relative;
	font-size: 10pt;
	width: 90%;
	height: 100%;
	grid-column: 2/3;
	grid-row: 2/3;
	overflow-y: none;
}

input#weight {
	width: 83%;
}

input#targetWeight {
	width: 83%;
}

input#height-feet  {
	width: 72%;
}

input#height-inches  {
	width: 72%;
}

input#height-cm {
	width: 83%;
}

.registration div.submitButton {
	padding-top: 20px;
	text-align: center;
	grid-column: 1/3;
}

}


