body {
	margin: 0px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.banner {
	height: 40vh;
	background-image: url("../img/food-banner.jpg");
	background-size: 100%;
	background-position: right top;
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-template-rows: 40% 1fr;
}
	
.banner img{
	position: absolute;
	top: 0;
	left:0;
	max-width: 300px;
}
	
.banner-content {
	text-align: left;
	padding-left: 15px;
	padding-bottom: 25px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.banner button {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

/* Food Lookup CSS */

foodLookup {
	display: none;
}
